.navbar-brand {
    margin: 0 1.5em 0 1em;
}

#clear {
    align-self: flex-end;
    margin-left: auto;
    margin-right: 2rem;
}

.container {
    margin-top: 3em;
}

.card-title {
    display: inline-block;
}

.card-header {
    white-space: pre-line;
}

.current-icon {
    display: inline;
}

.icon {
    display: block;
    margin: auto;
}

.uv {
    padding: .4em;
    color: white;
}

#future-display {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.future {
    max-width: 15em;
}